.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Todos-container {
  max-width: 500px;
  margin: auto;
  padding-top: 70px;
}

.Todo-form {
  margin-top: 20px;
}

.list-group-item {
  position: relative;
}

.list-group-item .check {
  position: absolute;
  right: 20px;

}

.list-group-item:hover .check {
  visibility: visible;
  cursor: pointer;
}

.list-group-item .check {
  visibility: hidden;
}

.list-group-item.done .check {
  visibility: visible;
}

.list-group-item.done {
  color: green;
}